body {
	background-image: url(../Scenes/Feedback_Background.jpg);
	background-color: aliceblue;
}

label {
	font-size: 20px;
}

#content {
	background-color: rgba(209, 209, 209, 0.8);
	margin: 5%;
	width: 90%;
	font-size: 24px;
	font-family: "Cambria", sans-serif, monospace;
	line-height: 1.5;
	min-height: 320px;
	padding: 3px;
	color: #224716;
}

#content * {
	margin: 2.5%;
}

#theName {
	display: block;
	min-height: 18px;
	max-width: 520px;

}

#theFeedback {
	display: block;
	max-width: 95%;
	min-height: 120px;
	width: 95%;
}

#submitButt {
	background: #0c7307;
	background-image: -webkit-linear-gradient(top, #0c7307, #003b0c);
	background-image: -moz-linear-gradient(top, #0c7307, #003b0c);
	background-image: -ms-linear-gradient(top, #0c7307, #003b0c);
	background-image: -o-linear-gradient(top, #0c7307, #003b0c);
	background-image: linear-gradient(to bottom, #0c7307, #003b0c);
	color: #ffffff;
	font-size: 16px;
	padding: 8px 18px 8px 18px;
	text-decoration: none;
}

#submitButt:hover {
	background: #009c17;
	text-decoration: none;
}
#doubleDiv {
	width: 1280px;
	height: 720px;
    background-color: lightgray;
    top: 5%;
    left: 5%;
    width: 95%;
    height: 110%;
}
.udfSkov {
	color: #ffffff;
	display: inline-block;
    position: absolute;
    top: 10%;
    left: 15%;

}
.udfRioN {
	color: #ffffff;
	display: inline-block;
    position: absolute;
    top: -15%;
    right: 25%;
}
.underskov {
	width: 480px;
	height: 360px;
    padding-top: 140px;
	padding-left: 40px;
	padding-bottom: 120px;
}
.rionegro {
	width: 640px;
	height: 480px;
    position: absolute;
    right: 10%;
    top: 20%
}
@media only screen and (min-width: 768px) {
	#content {
		margin: auto;
		margin-top: 8%;
		width: 40%;
	}

	#theFeedback {
	display: block;
	max-width: 95%;
	min-height: 200px;
	padding: 0;
	width: 95%;
}
}
