body {
    background-image: url(../Scenes/Feedback_Background.jpg);
}

h1 {
    margin: 5px;
    margin-left: 15px;
    font-family: 'Cambria', sans-serif, monospace;
    color: #383a3d;
    border-radius: 15px;
}

.sceneLink {
    width: 40%;
    float: left;
    margin: 3%;
    background: rgba(209, 209, 209, 0.8);
    min-width: 358px;
    border-radius: 25px;
    padding: 5px;
}

.imageLink {
    width: 80%;
    margin-left: 10%;
}

#titleClass {
    background: rgba(209, 209, 209, 0.8);
    padding: 10px;
    width: max-content;
}